* {
    margin: 0;
    padding: 0;
}

body {
    background: #282828;
}
.drumkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 1 0 calc(33.333% - 20px);
    background: radial-gradient(#e18174, #d15746);
    border-radius: 10px;
}

.pad img {
    width: 150px;
    pointer-events: none;
}